<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="seccss.css">
    <script src="https://use.fontawesome.com/c61eb31f26.js"></script> 
  </head>
<body>
    
    <nav class="navbar  navbar-expand-lg navbar-xbg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><i>Folio</i></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fa fa-bars" aria-hidden="true"></i></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="skills.page.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="skills.page.html" class="Mid">Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Projects.html">My Project</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="portfoloi.contact.html" tabindex="-1" >Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
     
  
    <div class="container-fluid" style="position: relative;">
      <img src="https://wallpaperaccess.com/full/5651992.png" style="max-width: 100%; height:750px;" />
  
      <div class="photo">
        <img src="sugavasan.JPG"width="150"px height="150"px class="rounded-circle">
      </div>

    <div class="container-fluid" id="skills" style="margin:0%;">
      <div class="middle">
        <h1 class="container mt-3">About Me</h1>
        <p class="container mt-3">I am Sugavasan</p>
        <p class="container mt-3">I Have completed my Secondary school certificate in 2015 with 94%.</p>
        <p class="container mt-3">I Have completed my Higher school certificate in 2017 with 83%.</p>
        <p class="container mt-3">I Have completed my Graduation BE-Mechanical Engineering in Anna University<br>
          <p class="container mt-3">University college of Engineering,Dindigul with 7.6CGPA.
        </p>
      </div>
      
      <div class="Mid">
      <dl> <h1>Skills</h1>
        <dd>HTML</dd>
         <dd>Css</dd>
         <dd>Bootstrap</dd>
         <dd>Javascript</dd>
         <dd>Mysql</dd>
         <dd>Php</dd>
      </dl>    
      </div>
  
    </div>
   </div>
    
    <script src="script.js"></script>     
</body>
</html>